@import 'reset';
@import 'vars';

html {
  background-color: #f6f1e8;
}

body {
  font-family: Arial;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(/assets/img/bg/BackgroundPattern.jpg);
  background-repeat: repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.hide {
  display: none;
}

.center {
  width: 115rem;
}

.title {
  font-weight: 900;
  font-style: italic;
  letter-spacing: -.2rem;
}

.paragraph {
  line-height: 2.2rem;
  font-size: 1.6rem;
}

.header-menu {
  display: flex;
  position: relative;

  & img {
    margin: 2rem 0;
  }
}

.corner-image {
  position: fixed;
  top: -2rem;
  right: 0;
}

.header-video-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & video {
    background-color: #f6f1e8;
    border: 1rem solid #f6f2e7;
    border-radius: 3rem;
  }
}

.introduction {
  margin-top: 20rem;
  background-color: #f4e6d3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37rem;
  border-top: 1rem solid black;
  border-bottom: 1rem solid black;
  transform: skewY(-2deg);
  background-image: url(/assets/img/bg/WornPattern.jpg);
  background-repeat: repeat;
}

.introduction-container {
  background-image: url(/assets/img/bg/WornPattern.jpg);
  background-repeat: repeat;
  background-color: #f4e6d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37rem;
  border-top: 1rem solid black;
  border-bottom: 1rem solid black;
}

.introduction-text-container {
  width: 62rem;

  & h1 {
    font-size: 4rem;
    letter-spacing: -.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  & p {
    width: 61rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

.introduction-image-container {

  & img {
    margin-top: -20rem;
  }
}

.markering {
  font-weight: bolder;
  font-style: italic;
  background-color: #f2ca4c;
}
