@import 'reset';
@import 'vars';

html {
  background-color: #f6f1e8;
}

body {
  font-family: Arial;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(/assets/img/bg/BackgroundPattern.jpg);
  background-repeat: repeat;
  z-index: -10;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.hide {
  display: none;
}

.center {
  width: 115rem;
}

.title {
  font-weight: 900;
  font-style: italic;
  font-size: 3.4rem;
  letter-spacing: -.2rem;
}

.paragraph {
  line-height: 2.8rem;
  font-size: 1.6rem;
  color: #2c2c2c;
}

.break {
  margin-bottom: 4rem;
}

.markering {
  font-weight: bolder;
  font-style: italic;
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.purple {
  background-color: var(--purple);
}

.tm-title {
  font-family: marker;
  font-size: 5rem;
}

.tm-subtitle {
  color: white;
  font-size: 3.4rem;
  padding: 3rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -.2rem;
}

.tm-header-quote {
  width: 47rem;
  text-align: center;
  font-family: marker;
  font-size: 1.7rem;
}

.header-menu {
  display: flex;
  position: relative;

  & img {
    margin: 2rem 0;
  }
}

.corner-image {
  position: fixed;
  top: -1rem;
  right: 0;
  z-index: 5;
}

.header-video-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & video {
    background-color: #f6f1e8;
    border: 1rem solid #f6f2e7;
    border-radius: 3rem;
  }
}

.introduction, .introducion-container {
  height: 32rem;
  border-top: .7rem solid black;
  border-bottom: .7rem solid black;
  background-image: url(/assets/img/bg/WornPattern.jpg);
  background-blend-mode: luminosity;
  background-repeat: repeat;
  background-size: 15rem;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.introduction {
  margin-top: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(-2deg);

}

.introduction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduction-text-container {
  width: 62rem;

  & h1 {
    font-size: 3rem;
    letter-spacing: -.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  & p {
    width: 61rem;
    font-size: 1.9rem;
    line-height: 2.7rem;
  }
}

.introduction-image-container {

  & img {
    margin-top: -15rem;
  }
}

.markering-intro {
  font-weight: bolder;
  font-style: italic;
  background-color: #f2ca4c;
}

.trademark1-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trademark1-header-container {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .trademark1-header-title-container {
    transform: skewY(-5deg);
  }

  & p {
    background-image: url(/assets/img/bg/tm1bg.png);
    background-repeat: no-repeat;
    background-size: 27rem;
  }
}

.trademark1-header-quote-container {

  & h2 {
    transform: rotate(8deg);
  }
}

.trademark1-content-container {
  display: flex;
  justify-content: space-around;
  height: 100%;

  & h1 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }

  & p {
    width: 52rem;
  }

  & .trademark1-article1-container, .trademark1-article2-container {
    width: 55rem;
  }

  & .trademark1-article1-container {

    & img {
      margin-top: 2rem;
      margin-left: -7rem;
    }
  }
}

.trademark1-quote-image-container {

  & img {
    width: 100vw;
    height: auto;
    margin-top: -20rem;
  }
}

.trademark2-container {
  position: relative;
  z-index: -20;
  overflow: hidden;
}

.trademark2-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .trademark2-header-title-container {
    transform: skewY(-5deg);
  }

  & p {
    background-image: url(/assets/img/bg/tm2bg.png);
    background-repeat: no-repeat;
    background-size: 25rem;
  }
}

.trademark2-header-quote-container {

  & h2 {
    transform: rotate(5deg);
  }
}

.trademark2-content-container {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;

  & h1 {
    margin-bottom: 2rem;
  }

  & p {
    margin-bottom: 10rem;
  }

  & .trademark2-content-image-container {
    position: relative;
    width: 52rem;
  }

  & .trademark2-content-articles-container {
    width: 52rem;
  }
}

.tm2-img {
  width: 34.5rem;
  height: 37.5rem;
  position: absolute;
  z-index: -8;
  left: 7.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;

  & img {
    transition: filter .5s;
    width: 31.4rem;
    height: 31.4rem;
  }
}

.tm2-img1 {
  position: relative;
  z-index: -10;
}

.tm2-img2 {
  top: 1.5rem;
}

.tm2-img3 {
  top: 41rem;
}

.tm2-img4 {
  top: 80.5rem;
}

.tm2-imgBGEffect {
  background-color: #777;
  transition: background-color .5s;

  & img {
    transition: filter .5s;
    filter: blur(.5rem) grayscale(50%);
  }
}

.tm2-articleEffect {
  opacity: .2;
}

.trademark3-container {
  position: relative;
  width: 100%;
  background-blend-mode: luminosity;
  background-image: url(/assets/img/bg/WornPattern.jpg);
  background-repeat: repeat;
  background-size: 15rem;
  background-color: white;
  box-shadow: var(--box-shadow);
  transform: skewY(5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trademark3-header-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 9.5rem;

  & p {
    background-image: url(/assets/img/bg/tm3bg.png);
    background-repeat: no-repeat;
    background-size: 25rem;
  }

  & article {
    width: 52rem;
  }
}

.trademark3-content-container {
  transform: skewY(-5deg);
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;

  & .bold {
    font-weight: 900;
  }

  & h1 {
    margin-bottom: 3rem;
  }

  & p {
    width: 52rem;
    margin-bottom: 4rem;
  }

  & .trademark3-content-image-container {
    height: 190rem;
  }
}

.trademark3-quote-image-container {
  margin-top: -45rem;

}
